accelerate @ file:///net/software/aarch64/el8/wheels/ML-bundle/24.06a/accelerate-1.1.0-py3-none-any.whl#sha256=b622264090472ea69b2827dcced10d650558b8831ea721f1bcafc0efe21465bc
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asdfghjkl==0.1a4
attrs==25.3.0
backpack-for-pytorch==1.7.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.3
curvlinops-for-pytorch==2.0.1
cycler==0.12.1
datasets==4.0.0
deepspeed==0.17.6
dill==0.3.8
docker-pycreds==0.4.0
einconv==0.1.0
einops==0.8.1
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
gpytorch==1.13
hf-xet==1.1.10
hjson==3.1.0
huggingface-hub==0.29.3
hydra-core==1.3.2
idna==3.10
jaxtyping==0.2.19
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
lightning-utilities==0.15.2
linear-operator==0.6
MarkupSafe==3.0.2
matplotlib==3.10.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.2.0
multiprocess==0.70.16
networkx==3.4.2
ninja==1.11.1.3
numpy==1.26.4
omegaconf==2.3.0
opt_einsum==3.4.0
packaging==24.2
pandas==2.3.3
peft==0.17.1
pillow==11.1.0
platformdirs==4.3.7
propcache==0.3.0
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==19.0.1
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.7.2
scipy==1.16.2
sentencepiece==0.2.0
sentry-sdk==2.24.0
setproctitle==1.3.5
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tabulate==0.9.0
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.5.1+cu124.post3
torchaudio @ file:///net/software/aarch64/el8/wheels/ML-bundle/24.06a/torchaudio-2.4.0%2Bcu124-cp311-cp311-linux_aarch64.whl#sha256=c8876a293b7cab851b00cfdf85e12229a917687ab1c346fb73130c4b54fee018
torchmetrics @ file:///net/software/aarch64/el8/wheels/ML-bundle/24.06a/torchmetrics-1.4.0.post0-py3-none-any.whl#sha256=e529b90740c2144edc9135cb7596e5d8522cc995799f3343d265fb18866e0e8e
torchvision @ file:///net/software/aarch64/el8/wheels/ML-bundle/24.06a/torchvision-0.20.1%2Bcu124torch251-cp311-cp311-linux_aarch64.whl#sha256=a54c7c436dc0bdea66f0e053e23cc8bc5aa01dbbfd362fa6e0f100f002693204
tqdm==4.67.1
transformers==4.50.0
typeguard==4.4.2
typing_extensions==4.12.2
tzdata==2025.1
unfoldNd==0.2.3
urllib3==2.3.0
wadler_lindig==0.1.4
wandb==0.16.1
xxhash==3.5.0
yarl==1.18.3
